/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

/*NAVIGATION BAR*/
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  margin-top: 25px;
  width: 100%;
}

.nav-left {
  margin-right: 30px;
  margin-left: 20px;
}

.nav-left a {
  color: white;
  letter-spacing: 0.5rem;
  font-weight: 500;
  text-align: center;
}

.search-bar {
  margin-left: 5px;
  margin-right: 20px;
  opacity: 0.5;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.nav-center {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-center .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-center .menu-list a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  padding: 10px;
  letter-spacing: 0.2rem;
}

.nav-center .menu-list a:hover {
  border-bottom: 1px solid white;
}

.nav-right {
  margin-left: auto;
  margin-right: 20px;
}

.nav-right button {
  color: white;
  letter-spacing: 0.2rem;
  border: none;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  margin: 0 10px;
}

.nav-right button:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}





/*HOME SECTION*/
.background > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  filter: brightness(60%);
  z-index: -1; /* Place image behind other elements */
}

.hero-text {
  font-size: 4rem;
  color: white;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  letter-spacing: .5rem;
}

#shop-home {
  min-height: 65vh;
}




/*CONTACT FORM*/
.contact-home {
  position: relative; 
}

.contact {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2; 
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  padding: 25px;
}



.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #c0c0c0;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.contact-text {
  color: white;
}

.submit {
  border-radius: 5px;
  display: block;
  margin: auto;
  padding: 7px 10px;
  font-weight: bold;
}

.submit:hover {

  box-shadow: 0 0 10px #ffffff;
  font-weight: bold;
}


/*FOOTER*/
.footer {
  background-color: black;
  color: #fefefe;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .heading {
  color: #fefefe;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .content a:hover {
  border-bottom: 1px solid #97987f;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

.heading h2 {
  padding-top: 20px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}
