/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*NAVIGATION BAR*/
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  z-index: 2;
  position: relative;
  margin-top: 25px;
}

.nav-left {
  margin-right: 30px;
  margin-left: 20px;
}

.nav-left a {
  color: white;
}

.search-bar {
  margin-left: 5px;
  margin-right: 20px;
  opacity: 0.5;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.nav-center {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-center .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-center .menu-list a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-center .menu-list a:hover {
  font-weight: bolder;
  transform: scale(1.07);
}

.nav-right {
  margin-left: auto;
  margin-right: 20px;
}

.nav-right a {
  color: white;
}

/*HOME SECTION*/
.background > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  filter: brightness(60%);
}

.hero-text {
  font-size: 5rem;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

